body{
    font-family: Arial, sans-serif;
    background-color: beige;
    color: brown;
    padding: 20px;
}
/*Heading Styling*/
h1 {
    color: black;
    font-size: 32px;
    text-align: center;
}
/*Table styling*/
table {
    margin: 0 auto;
    width:  80%;
    border-collapse: collapse;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba, green, blue, alpha;
}
th {
    background-color: aqua;
    color: black;
    padding: 12px;
    text-align: left;
}
td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
/*Add hover effect */
tr:hover {
    background-color: azure;
}
